/**
 * General
 */

body { 
    background-color: #2a333d;
}



/**
 * Login
 */

.login {
    width: 200px;
    height: 220px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
   border-radius: 10px;
}


.login__btnIn {
    margin-top: 15px;
}
